<%- include('../partials/header.ejs') %>
<div class="trade_main">
    <article>
    <h4>
        <%= mobile.name %>
    </h4>
    <small style="font-family: sans-serif;">Posted on <%=mobile.createAt %> by <%= mobile.owner.firstName + ' ' + mobile.owner.lastName %></small>
    <br>
    <br>
    <div  style="font-family: sans-serif;"><%= mobile.details %></div>
    <br>
    <br>
    <div class="col-sm-4" style="font-family: sans-serif;">Company: <%= mobile.company%></div>
    <div class="col-sm-8" style="font-family: sans-serif;">Battery: <%= mobile.battery%></div>
    <br>
    <br>
    <div class="col-sm-4" style="font-family: sans-serif;">Memory: <%= mobile.memory%></div>
    <div class="col-sm-4" style="font-family: sans-serif;">Color: <%= mobile.color%></div>
    </article>
    <aside style="background-color:#E5E4E2;">
        
        
        <img src="<%=mobile.image %>" height="120" width="120">
        <br>
        <br>
        <% if(user != mobile.owner._id){ %> 
            Want to trade or track the mobile?
            <br>
        <form>
        <button type="submit" class="btn btn-light" formmethod="POST" formaction="/trade/<%= mobile._id %>/tradeitem">Trade</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <% if(!w){ %>
        <button type="submit" class="btn btn-info" formmethod="POST" formaction="/trade/<%= mobile._id %>/interested">Follow</button>
        <% } else {%>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-info" formmethod="POST" formaction="/trade/<%= mobile._id %>/notinterested">Unfollow</button>
        <%} %>
      </form>
      <% } %>
      <form>
        <% if(user == mobile.owner._id){ %>
        <button type="submit" class="btn btn-warning" formmethod="GET" formaction="/trade/<%= mobile._id %>/edit">Edit</button>
        <button type="submit" class="btn btn-danger" formmethod="POST" formaction="/trade/<%= mobile._id %>?_method=DELETE">Delete</button>
        <% } %>
    </form>
      </aside>
</div>

<%- include('../partials/footer.ejs') %>